* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom:10px;
}

.search-content{
    width: 350px;
    height: auto;
    padding: 40px 30px;
    box-shadow: 2px 2px 20px #0000003e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.search-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.tambah-item,.search-item{
    width: 100%;
}
input{
    width: 70%;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid rgba(128, 128, 128, 0.181);
    outline: none;
    margin-top: 10px;
}

.search-item input{
    width: 100%;
}
button{
    width: 28%;
    height: 35px;
    border: none;
    font-weight: 500;
}

.error-barang,.error-search{
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    display: none;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
h5{
    margin-right: 5px !important;
    
}

h5,h2{
    font-size: 16px;
    margin: 10px 0;
    flex: 1;
    
}

.hapus{
    color: red;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
    
}

.edit{
    color: darkcyan;
    font-weight: 500;
    font-size: 14px;
    
}

.item-edit{
    flex: 1;
    display: none;
}
.item-edit input{
    width: 61.9%;
}

.edit-aksi{
    width: 25%;
    border-radius: 6px;
}

.close{
    width: 10%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
}


